data/
s3/
tmp/
logs/

# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

# cached files
__pycache__/
.ipynb_checkpoints/

# files for testing

# ignore personal login information for server

*local_config.json
*config.json
*cache.json
*.npy
*.env
*git_commit
*config.ini*

# collab
*docker-compose*
*Makefile*
*.swp*

# DataJoint 2.0
.secrets/
!datajoint.json
