# Downloads gymnasium-compatible ml-agents-envs from https://github.com/Zach-Attach/ml-agents/commit/0c95de167afa2778d121fa5a45042de711fa1ef8
git+https://github.com/Zach-Attach/ml-agents@0c95de167afa2778d121fa5a45042de711fa1ef8#subdirectory=ml-agents-envs

stable-baselines3[extra]==2.7.0
sb3_contrib==2.7.0
gymnasium==1.1.1

torch==2.7.1
torchvision==0.22.1
opencv-python==4.11.0.86

wandb==0.21.0
pyserial==3.5
python-dotenv==1.1.1
PyVirtualDisplay==3.0

pydantic==2.11.9
pydantic_core==2.33.2